{% extends "basic.html" %}
{% load static%}

{% block title %}<title>Book List</title>{% endblock %}
{% block content%}
    <h1>Book List</h1>

<ul>
    {% if all_books %}


              {% for book in all_books %}
                  <div class ="">
                  <li  class="li_style" > <a href="{{ book.get_absolute_url }}">

                          <figure class="booksfigure">

                                  <img src="{{ book.photo.url }}" width="120" height="120" alt="">
                               <a >{{ book.title }}</a><br>(<a href="{{ book.author.get_absolute_url }}">{{book.author}}</a>)
                                <figcaption><span>{{ book.cost }}</span></figcaption>
                          </figure>
                        </a>
                  </li>
                  </div>
              {% endfor %}

    {% else %}
      <p>There are no such book</p>
    {% endif %}
   </ul>
{% endblock %}
