{% extends "basic.html" %}
{% load static %}

{% block content %}

<img src="{{ book.photo.url | safe }}" alt=""
style="margin-left: 0px; margin-top: 10px; height: 300px; width: 250px; float: left;"/>


<figure class="books_detail">
  
  <h1>Title: {{ book.title }}</h1>
 
  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author.first_name }} {{ book.author.last_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Cost:</strong>{{ book.cost }} ₴</p>
  <p><a href="{{ book.get_absolute_id }}"><strong>Also books by this author</strong></a></p>
  <figure class="buying">
      <form method="POST" id="form-buying_book" class="form-inline" action="{% url 'shop:buy' %}">{% csrf_token %}
          <input type="number" class="form-control" id="num" min='1' max='{{book.quantity}}' value ="1" name="num"/>
          <input type="hidden" value="{{ book.id}}" name="book_id" id="book_id">
          <button class="btn btn-success btn-buy"  type="submit" id="submit_btn" >BUY</button>
      </form>
  </figure>
</figure>
	

{% endblock %}